@font-face {
    font-family: "Campanella";
    src: url(fonts/campanella/campanella.ttf);
}

@font-face {
    font-family: "Gilroy";
    src: url(fonts/gilroy/gilroy-regular.ttf);
}

body{
    background-color: #1A5B35;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.wrapper{
    width: 662px;
    border: 1px solid red;
}

.content{
    text-align: center;
}

.content h1{
    font-family: "Campanella", sans-serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 115px;
    color: #CEB076;
    margin: 0;
}

.content p{
    font-family: "Gilroy", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 18px;
    color: #fff;
    margin: 0;
}

/*900 + 20 + 10 +6 = 900 - 36*/

/*height/width = padding+margin+border+height/width*/
/*до 576px*/